In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [11]:
dframe = DataFrame({'k1': ['X', 'X', 'Y', 'Y', 'Z'],
                    'k2': ['alpha', 'beta', 'alpha', 'beta', 'alpha'],
                    'dataset1': np.random.rand(5),
                    'dataset2': np.random.rand(5)})

dframe

   dataset1  dataset2 k1     k2
0  0.876690  0.631106  X  alpha
1  0.914190  0.375918  X   beta
2  0.115530  0.671124  Y  alpha
3  0.046392  0.663367  Y   beta
4  0.900790  0.753652  Z  alpha

In [3]:
group1 = dframe['dataset1'].groupby(dframe['k1'])
group1

In [5]:
group1.mean()

k1
X    0.514807
Y    0.305737
Z    0.942068
Name: dataset1, dtype: float64

In [7]:
cities = np.array(['NY', 'LA', 'LA', 'NY', 'NY'])
month = np.array(['JAN', 'FEB', 'JAN', 'FEB', 'JAN'])

In [8]:
dframe['dataset1'].groupby([cities, month]).mean()

LA  FEB    0.818147
    JAN    0.476167
NY  FEB    0.135307
    JAN    0.576767
Name: dataset1, dtype: float64

In [13]:
dframe.groupby('k1').mean()

    dataset1  dataset2
k1
X   0.895440  0.503512
Y   0.080961  0.667245
Z   0.900790  0.753652

In [12]:
dframe

   dataset1  dataset2 k1     k2
0  0.876690  0.631106  X  alpha
1  0.914190  0.375918  X   beta
2  0.115530  0.671124  Y  alpha
3  0.046392  0.663367  Y   beta
4  0.900790  0.753652  Z  alpha

In [14]:
dframe.groupby(['k1', 'k2']).mean()

          dataset1  dataset2
k1 k2
X  alpha  0.876690  0.631106
   beta   0.914190  0.375918
Y  alpha  0.115530  0.671124
   beta   0.046392  0.663367
Z  alpha  0.900790  0.753652

In [15]:
dframe.groupby(['k1']).size()

k1
X    2
Y    2
Z    1
dtype: int64

In [17]:
for name, group in dframe.groupby('k1'):
    print("This is the %s group" % name)
    print(group)
    print('\n')

This is the X group
   dataset1  dataset2 k1     k2
0   0.87669  0.631106  X  alpha
1   0.91419  0.375918  X   beta


This is the Y group
   dataset1  dataset2 k1     k2
2  0.115530  0.671124  Y  alpha
3  0.046392  0.663367  Y   beta


This is the Z group
   dataset1  dataset2 k1     k2
4   0.90079  0.753652  Z  alpha

In [20]:
for (k1,k2), group, in dframe.groupby(['k1', 'k2']):
    print("Key1 = %s Key2 = %s" % (k1, k2))
    print(group)
    print('\n')

Key1 = X Key2 = alpha
   dataset1  dataset2 k1     k2
0   0.87669  0.631106  X  alpha


Key1 = X Key2 = beta
   dataset1  dataset2 k1    k2
1   0.91419  0.375918  X  beta


Key1 = Y Key2 = alpha
   dataset1  dataset2 k1     k2
2   0.11553  0.671124  Y  alpha


Key1 = Y Key2 = beta
   dataset1  dataset2 k1    k2
3  0.046392  0.663367  Y  beta


Key1 = Z Key2 = alpha
   dataset1  dataset2 k1     k2
4   0.90079  0.753652  Z  alpha

In [47]:
group_dict = dict(list(dframe.groupby('alpha', axis=1)))

KeyError: 'alpha'

In [48]:
for name, key in group_dict:
    print(name)
    print(key)

In [31]:
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes, axis=1)))
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0  0.876690  0.631106
 1  0.914190  0.375918
 2  0.115530  0.671124
 3  0.046392  0.663367
 4  0.900790  0.753652, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [28]:
dframe.dtypes

dataset1    float64
dataset2    float64
k1           object
k2           object
dtype: object

In [43]:
for name, key in dframe.groupby(dframe.dtypes, axis=1):
    print(name)
    print(key)

float64
   dataset1  dataset2
0  0.876690  0.631106
1  0.914190  0.375918
2  0.115530  0.671124
3  0.046392  0.663367
4  0.900790  0.753652
object
  k1     k2
0  X  alpha
1  X   beta
2  Y  alpha
3  Y   beta
4  Z  alpha

In [29]:
dataset2_group = dframe.groupby(['k1', 'k2'])[['dataset2']]
dataset2_group.mean()

          dataset2
k1 k2
X  alpha  0.631106
   beta   0.375918
Y  alpha  0.671124
   beta   0.663367
Z  alpha  0.753652

In [24]:
dframe

   dataset1  dataset2 k1     k2
0  0.876690  0.631106  X  alpha
1  0.914190  0.375918  X   beta
2  0.115530  0.671124  Y  alpha
3  0.046392  0.663367  Y   beta
4  0.900790  0.753652  Z  alpha