In [2]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [3]:
animals = DataFrame(np.arange(16).reshape(4,4),
                    columns=['W', 'X', 'Y', 'Z'],
                    index=['Dog', 'Cat', 'Bird', 'Mouse'])

In [4]:
animals

        W   X   Y   Z
Dog     0   1   2   3
Cat     4   5   6   7
Bird    8   9  10  11
Mouse  12  13  14  15

In [9]:
animals.ix[1:2, ['W', 'Y']] = np.nan

In [10]:
animals

        W   X   Y   Z
Dog     0   1   2   3
Cat   NaN   5 NaN   7
Bird    8   9  10  11
Mouse  12  13  14  15

In [11]:
behaviour_map = {'W': 'good', 'X': 'bad', 'Y': 'good', 'Z': 'bad'}

In [13]:
animal_col = animals.groupby(behaviour_map, axis=1)
animal_col.sum()

       bad  good
Dog      4     2
Cat     12   NaN
Bird    20    18
Mouse   28    26

In [15]:
behave_series = Series(behaviour_map)
behave_series

W    good
X     bad
Y    good
Z     bad
dtype: object

In [16]:
animals.groupby(behave_series, axis=1).count()

       bad  good
Dog      2     2
Cat      2     0
Bird     2     2
Mouse    2     2

In [17]:
animals.groupby(len).sum()

    W   X   Y   Z
3   0   6   2  10
4   8   9  10  11
5  12  13  14  15

In [21]:
keys = ['A', 'B', 'A', 'B']
animals.groupby([len, keys]).max()

      W   X   Y   Z
3 A   0   1   2   3
  B NaN   5 NaN   7
4 A   8   9  10  11
5 B  12  13  14  15

In [22]:
animals

        W   X   Y   Z
Dog     0   1   2   3
Cat   NaN   5 NaN   7
Bird    8   9  10  11
Mouse  12  13  14  15

In [26]:
hier_col = pd.MultiIndex.from_arrays([['NY', 'NY', 'NY', 'SF', 'SF'],
                                     [1,2,3,1,2]],
                                     names=['City', 'sub_value'])
hier_col

MultiIndex(levels=[['NY', 'SF'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1], [0, 1, 2, 0, 1]],
           names=['City', 'sub_value'])

In [25]:
dframe_hr = DataFrame(np.arange(25).reshape(5,5), columns=hier_col)