In [1]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index=['A', 'B', 'C', 'D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [4]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [5]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0,5,10])

In [6]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [7]:
ranger = range(15)

In [8]:
ranger

range(0, 15)

In [9]:
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [10]:
dframe = DataFrame(randn(25).reshape((5,5)), 
                   index=['A', 'B', 'D', 'E', 'F'], 
                   columns=['col1', 'col2', 'col3', 'col4', 'col5'])
dframe

       col1      col2      col3      col4      col5
A  0.331173  0.276425 -1.457037 -1.322164  0.938760
B  1.413669 -0.316179  0.415849 -0.998531 -1.685665
D  0.177140 -1.606869  1.485615  0.280638  0.076463
E  1.492976  0.027580 -0.117599 -0.609578  0.105494
F -1.128883  0.042659  0.108253 -1.104808 -0.265328

In [11]:
dframe2 = dframe.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [12]:
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [13]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.331173  0.276425 -1.457037 -1.322164  0.938760   NaN
B  1.413669 -0.316179  0.415849 -0.998531 -1.685665   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.177140 -1.606869  1.485615  0.280638  0.076463   NaN
E  1.492976  0.027580 -0.117599 -0.609578  0.105494   NaN
F -1.128883  0.042659  0.108253 -1.104808 -0.265328   NaN

In [15]:
dframe3 = DataFrame(randn(36).reshape((6,6)),
                    index=['A', 'B', 'C', 'D', 'E', 'F'],
                    columns=['col1', 'col2', 'col3', 'col4', 'col5', 'col6'])

In [16]:
dframe3

       col1      col2      col3      col4      col5      col6
A  0.467337  0.625289  0.343747  0.700064 -0.203968 -0.699299
B  0.016663  0.074413  1.930297 -0.575262  1.849465 -0.138199
C -1.564678 -2.402935 -1.378020  1.664000 -0.148794  1.322810
D  0.345300  0.453455 -0.176028  0.283811  0.797481  0.646389
E  1.075769  0.115687 -0.232554  0.813933  0.750717  0.556687
F  0.790826 -0.236133  0.368137  2.039957  1.601512 -0.657923